name: macOS arm64

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/**
      - develop/**
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-darwin
      - run: cargo clippy --all-targets
      - run: cargo test
      - run: cargo build --release --target=aarch64-apple-darwin
